<main>
  <section class="logo-section cpc-background-gray">
    <img src="assets/imgs/logoSemLegenda.svg" alt="Logo da Caparaó Conecta" />
  </section>
  <section class="form-section cpc-background-nowhite">
    <h2 class="cpc-medium">{{ titulo }}</h2>
    <ng-content></ng-content>
    <div class="form-section_buttons">
      @if(isRouterLogin()){
      <button class="btn btn-secondary" (click)="submit()">
        {{ botaoEntrar }}
      </button>
      }
      <button class="btn btn-tertiary" (click)="openDialog()">
        {{ botaoCadastrar }}
      </button>
    </div>
  </section>
</main>
