:host {
  main {
    margin: 4em 0 4em 0;
    & .logo-section {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 25%;
      border-radius: 50%;
      margin-bottom: 1em;

      & img {
        width: 100%;
      }
    }

    & .form-section {
      padding: 1.5em;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 15px;
      & h2 {
        text-align: center;
      }

      & .form-section_buttons {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .invisible {
      display: none;
    }
  }
  @media (max-width: 900px) {
    .form-section {
      padding: 1em;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 15px;
      width: 25em;
      display: flex;
      flex-direction: column;
      & h2 {
        text-align: center;
      }

      & .form-section_buttons {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}
