<main>
  <section class="logo-section cpc-background-gray">
    <img src="assets/imgs/logoSemLegenda.svg" alt="Logo da Caparaó Conecta" />
  </section>
  <section class="form-section cpc-background-nowhite">
    <h2 class="cpc-medium pb-4">{{ titulo }}</h2>
    <ng-content></ng-content>
    <div class="form-section_buttons">
      <button
        class="btn btn-secondary"
        [disabled]="disablebotaoCadastrar"
        (click)="submit()"
      >
        {{ botaoEntrar }}
      </button>

      <button
        class="btn btn-tertiary"
        (click)="navigate()"
        [ngClass]="botaoCadastrar === 'Cadastrar' ? '' : 'invisible'"
      >
        {{ botaoCadastrar }}
      </button>
    </div>
  </section>
</main>
