<div class="vagas-empresa-container">
  <div class="vagas-grid">
    @for (vaga of paginatedVagas; track vaga.id_vagas) {

    <div class="empresa-vaga-card" (click)="onCardClick(vaga)">
      <div class="card-header">
        <h3 class="card-titulo cpc-regular">{{ vaga.titulo_vaga }}</h3>
        <span
          class="card-status"
          [ngClass]="'status-' + vaga.status.toLowerCase()"
        >
          {{ vaga.status.replace("_", " ") }}
        </span>
      </div>

      <p class="card-descricao cpc-regular-010">{{ vaga.descricao }}</p>

      <div class="card-footer">
        <div class="detalhe-item">
          <i class="fa-solid fa-briefcase"></i>
          <span class="cpc-light-010">{{
            vaga.modalidade_da_vaga | capitalize
          }}</span>
        </div>
        <div class="detalhe-item">
          <i class="fa-solid fa-dollar-sign"></i>
          <span class="cpc-light-010">{{
            vaga.salario | currency : "BRL"
          }}</span>
        </div>
        <div class="detalhe-item">
          <i class="fa-solid fa-users"></i>
          <span class="cpc-light-010">{{ vaga.qtd_vaga }}</span>
        </div>
      </div>
    </div>
    }
  </div>

  <p-paginator
    [rows]="pageSize"
    [totalRecords]="vagas.length"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
