<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3>{{ data }}</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="formExperiencia">
    <app-primary-input
      formControlName="cargo"
      type="text"
      placeholder="Qual cargo você desempenhou"
      inputName="cargo"
      label="Cargo"
    />

    <app-primary-input
      formControlName="empresa"
      type="text"
      placeholder="Local onde desempenhou o cargo"
      inputName="empresa"
      label="Empresa"
    />

    <div class="d-flex justify-content-between gap-3">
      <app-primary-input
        formControlName="dateInicio"
        type="date"
        placeholder="Mês/Ano"
        label="Início"
        inputName="dateInicio"
      />
      <div>
        <app-primary-input
          formControlName="dateTermino"
          type="date"
          placeholder="Mês/Ano"
          label="Término"
          inputName="dateTermino"
          [ngClass]="
            formExperiencia.get('trabalhoAtual')?.value ? 'opacityy' : ''
          "
        >
        </app-primary-input>
        <mat-checkbox
          formControlName="trabalhoAtual"
          (change)="toggleDateTermino($event)"
          class=""
        >
          Trabalho atualmente neste cargo
        </mat-checkbox>
      </div>
    </div>

    <div class="pt-2">
      <p>Possui comprovação?</p>
      <mat-radio-group formControlName="comprovacao">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="d-flex justify-content-end">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
      />
    </div>
  </form>
</mat-dialog-content>
