@if(this.data.id){
<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3 class="cpc-medium">Adicionar experiência profissional</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="formExperiencia" (keyup.enter)="submit()">
    <!-- Cargo -->
    <div class="input-container">
      <label class="cpc-medium-010">Cargo</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="cargo"
          type="text"
          placeholder="Qual cargo você desempenhou"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="formExperiencia.get('cargo')?.hasError('required')"
        >
          O campo cargo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Empresa -->
    <div class="input-container">
      <label class="cpc-medium-010">Empresa</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="nome_empresa"
          type="text"
          placeholder="Local onde desempenhou o cargo"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="formExperiencia.get('nome_empresa')?.hasError('required')"
        >
          O campo empresa é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Datas de início e término -->
    <div class="d-flex justify-content-between gap-4 flex-column flex-sm-row">
      <div class="input-container">
        <label class="cpc-medium-010">Início</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="data_emissao"
            type="date"
            placeholder="Mês/Ano"
          />
          <mat-error
            class="cpc-light-010"
            *ngIf="formExperiencia.get('data_emissao')?.hasError('required')"
          >
            Data de início é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <label class="cpc-medium-010">Término</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="data_conclusao"
            type="date"
            placeholder="Mês/Ano"
            [disabled]="formExperiencia.get('trabalho_atual')?.value"
          />
          <mat-error
            class="cpc-light-010"
            *ngIf="
              formExperiencia.get('data_conclusao')?.hasError('required') &&
              !formExperiencia.get('trabalho_atual')?.value
            "
          >
            Data de término é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-checkbox
          formControlName="trabalho_atual"
          (change)="toggleDateTermino($event)"
        >
          Trabalho atualmente neste cargo
        </mat-checkbox>
      </div>
    </div>

    <!-- Comprovação -->
    <div class="pt-2">
      <p>Possui comprovação?</p>
      <mat-radio-group formControlName="comprovacao">
        <mat-radio-button [value]="true">Sim</mat-radio-button>
        <mat-radio-button [value]="false">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Botão Atualizar -->
    <div class="d-flex justify-content-end">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Adicionar"
        (click)="submit()"
      />
    </div>
  </form>
</mat-dialog-content>

} @else{
<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3 class="cpc-medium">Atualizar experiência profissional</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="formExperiencia">
    <!-- Cargo -->
    <div class="input-container">
      <label class="cpc-medium-010">Cargo</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="cargo"
          type="text"
          placeholder="Qual cargo você desempenhou"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="formExperiencia.get('cargo')?.hasError('required')"
        >
          O campo cargo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Empresa -->
    <div class="input-container">
      <label class="cpc-medium-010">Empresa</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="nome_empresa"
          type="text"
          placeholder="Local onde desempenhou o cargo"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="formExperiencia.get('nome_empresa')?.hasError('required')"
        >
          O campo empresa é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Datas de início e término -->
    <div class="d-flex justify-content-between gap-3 flex-column flex-sm-row">
      <div class="input-container">
        <label class="cpc-medium-010">Início</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="data_emissao"
            type="date"
            placeholder="Mês/Ano"
          />
          <mat-error
            class="cpc-light-010"
            *ngIf="formExperiencia.get('data_emissao')?.hasError('required')"
          >
            Data de início é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <label class="cpc-medium-010">Término</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="data_conclusao"
            type="date"
            placeholder="Mês/Ano"
            [disabled]="formExperiencia.get('trabalho_atual')?.value"
          />
          <mat-error
            class="cpc-light-010"
            *ngIf="
              formExperiencia.get('data_conclusao')?.hasError('required') &&
              !formExperiencia.get('trabalho_atual')?.value
            "
          >
            Data de término é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-checkbox
          formControlName="trabalho_atual"
          (change)="toggleDateTermino($event)"
        >
          Trabalho atualmente neste cargo
        </mat-checkbox>
      </div>
    </div>

    <!-- Comprovação -->
    <div class="pt-2">
      <p>Possui comprovação?</p>
      <mat-radio-group formControlName="comprovacao">
        <mat-radio-button [value]="true">Sim</mat-radio-button>
        <mat-radio-button [value]="false">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Botão Atualizar -->
    <div class="d-flex justify-content-end">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Atualizar"
        (click)="update()"
      />
    </div>
  </form>
</mat-dialog-content>
}
