<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3 class="cpc-medium">Editar Perfil</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="cadastrarForm" class="row" (keyup.enter)="submit()">
    <!-- Nome -->
    <div class="col-12">
      <label class="cpc-medium-010">Nome</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="nome"
          type="text"
          placeholder="Digite seu nome"
        />
        <mat-error *ngIf="cadastrarForm.get('nome')?.invalid">
          {{ fieldErrors()["nome"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Sobrenome -->
    <div *ngIf="data.conteudo.usuario.id_tipo_usuarios == 2" class="col-12">
      <label class="cpc-medium-010">Sobrenome</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="sobrenome"
          type="text"
          placeholder="Digite seu sobrenome"
        />
        <mat-error *ngIf="cadastrarForm.get('sobrenome')?.invalid">
          {{ fieldErrors()["sobrenome"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Data de Nascimento -->
    <div class="col-12 col-sm-6">
      <label class="cpc-medium-010">Data de Nascimento</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="data_de_nascimento"
          type="date"
          placeholder="dd/mm/yyyy"
        />
        <mat-error *ngIf="cadastrarForm.get('data_de_nascimento')?.invalid">
          {{ fieldErrors()["data_de_nascimento"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Gênero -->
    <div class="col-12 col-sm-6 ps-sm-3">
      <label class="cpc-medium-010">Gênero</label>
      <mat-form-field class="w-100">
        <mat-select formControlName="genero" placeholder="Selecione seu gênero">
          <mat-option *ngFor="let genero of generos" [value]="genero">
            {{ genero }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cadastrarForm.get('genero')?.invalid">
          {{ fieldErrors()["genero"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Instagram -->
    <div class="col-12">
      <label class="cpc-medium-010">Instagram</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="instagram"
          type="text"
          placeholder="Insira seu link"
        />
        <mat-error *ngIf="cadastrarForm.get('instagram')?.invalid">
          {{ fieldErrors()["instagram"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Currículo Lattes -->
    <div class="col-12">
      <label class="cpc-medium-010">Currículo Lattes</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="lattes"
          type="text"
          placeholder="Insira seu link"
        />
        <mat-error *ngIf="cadastrarForm.get('lattes')?.hasError('pattern')">
          O link deve começar com "http://" ou "https://"
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Github -->
    <div class="col-12">
      <label class="cpc-medium-010">Github</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="github"
          type="text"
          placeholder="Insira seu link"
        />
        <mat-error *ngIf="cadastrarForm.get('github')?.hasError('pattern')">
          O link deve começar com "http://" ou "https://"
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Linkedin -->
    <div class="col-12">
      <label class="cpc-medium-010">Linkedin</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="linkedin"
          type="text"
          placeholder="Insira seu link"
        />
        <mat-error *ngIf="cadastrarForm.get('linkedin')?.hasError('pattern')">
          O link deve começar com "http://" ou "https://"
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Telefone -->
    <div class="col-12">
      <label class="cpc-medium-010">Telefone (DDD)</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="telefone"
          type="tel"
          mask="(00) 0 0000-0000"
          placeholder="Digite seu número"
        />
        <mat-error *ngIf="cadastrarForm.get('telefone')?.hasError('required')">
          O telefone é obrigatório.
        </mat-error>
        <mat-error *ngIf="cadastrarForm.get('telefone')?.hasError('pattern')">
          O telefone deve estar no formato (XX) XXXXX-XXXX.
        </mat-error>
        <mat-error *ngIf="cadastrarForm.get('telefone')?.hasError('minlength')">
          O telefone deve ter no mínimo 10 dígitos.
        </mat-error>
        <mat-error *ngIf="cadastrarForm.get('telefone')?.hasError('maxlength')">
          O telefone deve ter no máximo 15 dígitos.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Estado -->
    <div class="col-12 col-md-6">
      <label class="cpc-medium-010">Estado</label>
      <mat-form-field class="w-100">
        <mat-select
          formControlName="estado"
          placeholder="Selecione seu estado"
          (selectionChange)="carregarCidadesPorEstado($event.value.id)"
        >
          <mat-option *ngFor="let estado of estados" [value]="estado">
            {{ estado.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cadastrarForm.get('estado')?.invalid">
          {{ fieldErrors()["estado"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Cidade -->
    <div class="col-12 col-md-6">
      <label class="cpc-medium-010">Cidade</label>
      <mat-form-field class="w-100">
        <mat-select formControlName="cidade" placeholder="Selecione sua cidade">
          <mat-option *ngFor="let cidade of cidades" [value]="cidade">
            {{ cidade.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cadastrarForm.get('cidade')?.invalid">
          {{ fieldErrors()["cidade"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Área de Atuação -->
    <div *ngIf="data.conteudo.usuario.id_tipo_usuarios == 2" class="col-12">
      <label class="cpc-medium-010">Área de Atuação</label>
      <mat-form-field class="w-100">
        <mat-select
          formControlName="id_areas_atuacao"
          placeholder="Selecione sua área de atuação"
        >
          <mat-option
            *ngFor="let area of areasAtuacao"
            [value]="area.id_areas_atuacao"
          >
            {{ area.nome_area }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cadastrarForm.get('id_areas_atuacao')?.invalid">
          {{ fieldErrors()["id_areas_atuacao"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="col-12">
      <label class="cpc-medium-010">Email</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Digite seu email"
        />
        <mat-error *ngIf="cadastrarForm.get('email')?.invalid">
          {{ fieldErrors()["email"] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Botão Salvar -->
    <div class="d-flex justify-content-end mt-3">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
        (click)="submit()"
      ></app-button-primary>
    </div>
  </form>
</mat-dialog-content>
