.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-poppinsB), sans-serif;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;

  &.btn-primary {
    background: var(--background-red);
    color: var(--white);

    &:hover {
      background: var(--background-red-010);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &.btn-secondary {
    background: var(--primary-background-green);
    color: var(--white);

    &:hover {
      background: var(--secondary-background-green);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &.btn-tertiary {
    background: var(--secondary-background-green);
    color: var(--white);

    &:hover {
      background: var(--primary-background-green);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &.btn-quaternary {
    background: var(--primary-background-green);
    color: var(--white);
    padding: 8px;
    border-radius: 12px;

    &:hover {
      background: var(--secondary-background-green);
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  @media (max-width: 768px) {
    padding: 10px 20px;
    font-size: 14px;
  }
}
