<app-cabecalho />

<app-component-perfil-dados [data]="dadosPessoais"></app-component-perfil-dados>

<app-component-default-perfil
  title="Sobre"
  [IdUsuario]="dadosPessoais.id"
  [data]="sobre"
>
</app-component-default-perfil>

<div *ngIf="id_tipo_usuario === '2'">
  <app-perfil-candidato
    [experiencias]="experiencias"
    [formacoes]="formacoes"
    [cursos]="cursos"
    [habilidades]="habilidades"
  >
  </app-perfil-candidato>
</div>

<div *ngIf="id_tipo_usuario === '1'">
  <app-perfil-empresa [dadosEmpresa]="dadosEmpresa"> </app-perfil-empresa>
</div>

<app-footer tela="perfil"></app-footer>
