<app-cabecalho />
<app-component-perfil-dados></app-component-perfil-dados>
<app-component-default-perfil title="Sobre">
    
</app-component-default-perfil>
<app-component-default-perfil title="Experiência profissional">
  <!--for com condicional tbm-->
  <app-card-default-informacoes></app-card-default-informacoes>
</app-component-default-perfil>
<app-component-default-perfil title="Formação acadêmica">
</app-component-default-perfil>
<app-component-default-perfil title="Cursos realizados">
</app-component-default-perfil>
<app-component-default-perfil title="Habilidades e competências adicionais">
<!-- colocar um for e um if para verifica se existe-->
  <mat-chip-set aria-label="Fish selection">
    <mat-chip>One fish</mat-chip>
  </mat-chip-set>
</app-component-default-perfil>
<app-footer />
