.container {
    background: #f8f8f8;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.397);
    font-family: 'Arial', sans-serif;
    margin: 5em;
    width: 1200px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    font-weight: bold;
  }
  
  .btn-add {
    background:#359830;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .th-lateral-esquerda {
    padding: 12px;
    text-align: center;
    background-color: #4cd137;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .th-centro{
    padding: 12px;
    text-align: center;
    background-color: #4cd137;
    color: white;
    font-weight: bold;
  }

  .th-lateral-direita{
    padding: 12px;
    text-align: center;
    background-color: #4cd137;
    color: white;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .td-lateral-esquerda{
    padding: 12px;
    text-align: center;
    background: #f8f8f8;
  }
  
  .td-centro{
    padding: 12px;
    text-align: center;
    background: #f8f8f8;
  }

  .td-lateral-direita{
    padding: 12px;
    text-align: center;
    background: #f8f8f8;
  }
  
  tbody tr {
    background-color: white;
    transition: background-color 0.3s;
  }
  
  tbody tr.active {
    background-color: #4cd137;
  }
  
  .actions .icon {
    background: #f8f8f8;
    border: none;
    font-size: 18px;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .edit {
    background-color: black;
  }
  
  .delete {
    color: red;
  }
  
  .check {
    color: green;
  }

  .matPaginator {
    width: 100%;
    background: #DCDCDC;
    padding: 8px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
  }
  