<div class="container">
    <div class="header">
      <h2>Cursos</h2>
      <button class="btn-add">Adicionar Curso</button>
    </div>
  
    <table class="table">
      <thead>
        <tr class="header-row">
          <th class="th-lateral-esquerda">Nome do Curso</th>
          <th class="th-centro">Carga horária</th>
          <th class="th-centro">Instituição</th>
          <th class="th-centro">Tipo</th>
          <th class="th-centro">Link</th>
          <th class="th-lateral-direita">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos" [ngClass]="{'active': curso.status === 'Ativo'}">
          <td class="td-lateral-esquerda">{{ curso.nome }}</td>
          <td class="td-centro">{{ curso.carga }}</td>
          <td class="td-centro">{{ curso.instituicao }}</td>
          <td class="td-centro">{{ curso.tipo_de_curso }}</td>
          <td class="td-centro">{{ curso.link }}</td>
          <td class="actions td-lateral-direita">
            <button class="icon edit">
              <img src='assets/icons/editTable.svg' alt="">
            </button>
            <button class="icon" [ngClass]="curso.status === 'Ativo' ? 'delete' : 'check'">
                <img 
                  [src]="curso.status === 'Ativo' ? 'assets/icons/closeTable.svg' : 'assets/icons/check.svg'" 
                  alt="Ação" 
                  width="20" 
                  height="20"
                />
              </button>
              
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator
    class="matPaginator"
    [pageSizeOptions]="[12, 20]"
    showFirstLastButtons
    hidePageSize>
  </mat-paginator>
  </div>
  
