<app-cabecalho></app-cabecalho>

<section class="mt-5 mb-5">
  <app-dashboard-card label="Vagas">
    <i class="fa-solid fa-briefcase fa-2xl"></i>
  </app-dashboard-card>
  <app-dashboard-card label="Usuários">
    <i class="fa-solid fa-user fa-2xl"></i>
  </app-dashboard-card>
  <app-dashboard-card label="Entrevistas">
    <i class="fa-solid fa-id-badge fa-2xl"></i>
  </app-dashboard-card>
  <app-dashboard-card label="Contratações">
    <i class="fa-solid fa-user-check fa-2xl"></i>
  </app-dashboard-card>
</section>

<app-footer></app-footer>
