<header class="d-flex justify-content-between p-4 align-items-center">
  <h3>Adicionar habilidades e competências</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <div class="habilidades-list">
    @for (habilidade of allHabilidades(); track habilidade.id_habilidades) {
    <div class="habilidade-item">
      <mat-checkbox
        [checked]="selectedHabilidades().includes(habilidade.id_habilidades)"
        (change)="toggleHabilidade(habilidade.id_habilidades)"
      >
        {{ habilidade.nome }}
      </mat-checkbox>
    </div>
    }
  </div>

  <div class="d-flex justify-content-end">
    <app-button-primary
      fonte="cpc-regular"
      color="btn-secondary"
      text="Salvar"
      (click)="submit()"
    />
  </div>
</mat-dialog-content>
