:host {
  .input-container {
    font-family: var(--font-poppinsM);
    font-size: 16px;
    .input-content {
      border-radius: 8px;
      position: relative;
      .formField {
        display: flex;
        align-items: center;
        width: 100%;
      }

      .icon {
        position: absolute;
        top: 10px;
        right: 0px;
        padding-right: 0.5em;
      }
    }

    input {
      box-sizing: border-box;
      font-family: var(--font-poppinsM);

      &:focus {
        border-color: var(--primary-background-gray);
        outline: none;
      }
    }
  }
}
