<div class="input-container">
  <mat-label>{{ label }}</mat-label>
  <div class="input-content">
    <mat-form-field class="formField">
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [placeholder]="placeholder"
        [value]="value"
        (input)="updateValue($event)"
        required
      />
      <div class="icon">
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <ng-content></ng-content>
  </div>
</div>
