@use "@angular/material" as mat;

:host {
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }
}

:host {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--secondary-background-green),
    )
  );
}
