<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3>Adicionar formação acadêmica</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="form">
    <app-primary-input
      formControlName="instituicao"
      type="text"
      placeholder="Preencha sua Instituição"
      inputName="instituicao"
      label="Instituição de ensino"
    />

    <div class="d-flex">
      <div>
        <mat-label class="cpc-medium-010">Nível de escolaridade</mat-label>

        <mat-form-field>
          <mat-select
            placeholder="Selecione uma escolaridade"
            formControlName="escolaridade"
            class="col"
          >
            <mat-option value="Masculino">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-primary-input
        formControlName="areaEstudo"
        type="text"
        placeholder="Qual sua área de estudo?"
        label="Área de estudo"
        inputName="areaEstudo"
        class="col"
      />
    </div>

    <div class="d-flex justify-content-between align-items-center p-2">
      <div class="d-flex flex-column">
        <mat-label class="cpc-medium-010 pb-2">Já concluiu?</mat-label>
        <mat-radio-group formControlName="conclusao">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex flex-column">
        <mat-label class="cpc-medium-010 pb-2">Possui diploma?</mat-label>
        <mat-radio-group formControlName="diploma">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <app-primary-input
      formControlName="dateEmissao"
      type="date"
      placeholder="Mês/Ano"
      label="Data emissão"
      inputName="dateTermino"
    />

    @if(form.get('diploma')?.value == true && form.get('conclusao')?.value ==
    true) {
    <app-primary-input
      formControlName="dateConclusao"
      type="date"
      placeholder="Mês/Ano"
      label="Data conclusão"
      inputName="dateTermino"
    />
    }
    <div class="d-flex justify-content-end">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
      />
    </div>
  </form>
</mat-dialog-content>
