<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3>Adicionar formação acadêmica</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="d-flex justify-content-between gap-2">
      <div class="col flex-grow-1 input-container ">
        <mat-label  class="cpc-medium-010">Instituição de ensino</mat-label>
        <mat-form-field class="example-full-width w-100">
          <input type="text" matInput [formControl]="myControl" placeholder="Preencha sua Instituição" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option.nome}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-between gap-2a">
      <div class="col flex-grow-1 input-container ">
        <mat-label class="cpc-medium-010">Nível de escolaridade</mat-label>
        <mat-form-field class="w-100">
          <mat-select
            placeholder="Selecione uma escolaridade"
            formControlName="escolaridade"
          >
            <mat-option value="Ensino Fundamental">Ensino Fundamental</mat-option>
            <mat-option value="Ensino Médio">Ensino Médio</mat-option>
            <mat-option value="Graduação">Graduação</mat-option>
            <mat-option value="Pós-graduação">Pós-graduação</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-primary-input
        formControlName="areaEstudo"
        type="text"
        placeholder="Qual sua área de estudo?"
        label="Área de estudo"
        inputName="areaEstudo"
        class="col-6 ps-2"
      />
    </div>

    <div class="d-flex justify-content-between align-items-center p-2">
      <div class="d-flex flex-column">
        <mat-label class="cpc-medium-010 pb-2">Já concluiu?</mat-label>
        <mat-radio-group formControlName="conclusao">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex flex-column">
        <mat-label class="cpc-medium-010 pb-2">Possui certificado?</mat-label>
        <mat-radio-group formControlName="diploma">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <app-primary-input
      formControlName="dateEmissao"
      type="date"
      placeholder="Mês/Ano"
      label="Data emissão"
      inputName="dateTermino"
    />

    @if(form.get('diploma')?.value == true && form.get('conclusao')?.value ==
    true) {
    <app-primary-input
      formControlName="dateConclusao"
      type="date"
      placeholder="Mês/Ano"
      label="Data conclusão"
      inputName="dateTermino"
    />
    }
    <div class="d-flex justify-content-end">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
        (click)="submit()"
      />
    </div>
  </form>
</mat-dialog-content>
