@if(this.data.id){
<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3 class="cpc-medium">Adicionar formação acadêmica</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="form" (keyup.enter)="submit()">
    <div class="col flex-grow-1 input-container">
      <label class="cpc-medium-010">Instituição de ensino</label>
      <mat-form-field class="example-full-width w-100">
        <input
          type="text"
          matInput
          formControlName="instituicao"
          placeholder="Preencha sua Instituição"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option.nome }}</mat-option>
          }
        </mat-autocomplete>
        <mat-error
          class="cpc-light-010"
          *ngIf="
            form.get('instituicao')?.touched &&
            form.get('instituicao')?.invalid &&
            form.get('instituicao')?.hasError('required')
          "
        >
          Instituição é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-between gap-2 flex-column flex-sm-row">
      <div class="col flex-grow-1 input-container">
        <label class="cpc-medium-010">Nível de escolaridade</label>
        <mat-form-field class="w-100">
          <mat-select
            placeholder="Selecione uma escolaridade"
            formControlName="escolaridade"
          >
            <mat-option value="Ensino Fundamental"
              >Ensino Fundamental</mat-option
            >
            <mat-option value="Ensino Médio">Ensino Médio</mat-option>
            <mat-option value="Graduação">Graduação</mat-option>
            <mat-option value="Pós-graduação">Pós-graduação</mat-option>
          </mat-select>
          <mat-error
            class="cpc-light-010"
            *ngIf="
              form.get('escolaridade')?.touched &&
              form.get('escolaridade')?.invalid &&
              form.get('escolaridade')?.hasError('required')
            "
          >
            Escolaridade é obrigatória
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-6 ps-0 ps-sm-2">
        <label class="cpc-medium-010">Área de estudo</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="area_de_estudo"
            type="text"
            placeholder="Qual sua área de estudo?"
          />
          <mat-error
            class="cpc-light-010"
            *ngIf="
              form.get('area_de_estudo')?.touched &&
              form.get('area_de_estudo')?.invalid &&
              form.get('area_de_estudo')?.hasError('required')
            "
          >
            Área é obrigatória
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-2">
      <div class="d-flex flex-column">
        <label class="cpc-medium-010 pb-2">Já concluiu?</label>
        <mat-radio-group formControlName="conclusao_formacao">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex flex-column">
        <label class="cpc-medium-010 pb-2">Possui certificado?</label>
        <mat-radio-group formControlName="diploma_formacao">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="w-100">
      <label class="cpc-medium-010">Data de ingresso</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="data_emissao"
          type="date"
          placeholder="Mês/Ano"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="
            form.get('data_emissao')?.touched &&
            form.get('data_emissao')?.invalid &&
            form.get('data_emissao')?.hasError('required')
          "
        >
          Data de emissão é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    @if(form.get('diploma_formacao')?.value == true &&
    form.get('conclusao_formacao')?.value == true) {
    <div class="w-100">
      <label class="cpc-medium-010">Data conclusão</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="data_conclusao"
          type="date"
          placeholder="Mês/Ano"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="
            form.get('data_conclusao')?.touched &&
            form.get('data_conclusao')?.invalid &&
            form.get('data_conclusao')?.hasError('required')
          "
        >
          Data de conclusão é obrigatória
        </mat-error>
      </mat-form-field>
    </div>
    }
    <div class="d-flex justify-content-end mt-4">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
        (click)="submit()"
        [disabled]="form.invalid"
      />
    </div>
  </form>
</mat-dialog-content>
}@else {
<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3 class="cpc-medium">Atualizar formação acadêmica</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="col flex-grow-1 input-container">
      <label class="cpc-medium-010">Instituição de ensino</label>
      <mat-form-field class="example-full-width w-100">
        <input
          type="text"
          matInput
          formControlName="instituicao"
          placeholder="Preencha sua Instituição"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option.nome }}</mat-option>
          }
        </mat-autocomplete>
        <mat-error
          class="cpc-light-010"
          *ngIf="
            form.get('instituicao')?.touched &&
            form.get('instituicao')?.invalid &&
            form.get('instituicao')?.hasError('required')
          "
        >
          Instituição é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-between gap-2 flex-column flex-sm-row">
      <div class="col flex-grow-1 input-container">
        <label class="cpc-medium-010">Nível de escolaridade</label>
        <mat-form-field class="w-100">
          <mat-select
            placeholder="Selecione uma escolaridade"
            formControlName="escolaridade"
          >
            <mat-option value="Ensino Fundamental"
              >Ensino Fundamental</mat-option
            >
            <mat-option value="Ensino Médio">Ensino Médio</mat-option>
            <mat-option value="Graduação">Graduação</mat-option>
            <mat-option value="Pós-graduação">Pós-graduação</mat-option>
          </mat-select>
          <mat-error
            class="cpc-light-010"
            *ngIf="
              form.get('escolaridade')?.touched &&
              form.get('escolaridade')?.invalid &&
              form.get('escolaridade')?.hasError('required')
            "
          >
            Escolaridade é obrigatória
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-6 ps-0 ps-sm-2">
        <label class="cpc-medium-010">Área de estudo</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="area_de_estudo"
            type="text"
            placeholder="Qual sua área de estudo?"
          />
          <mat-error
            class="cpc-light-010"
            *ngIf="
              form.get('area_de_estudo')?.touched &&
              form.get('area_de_estudo')?.invalid &&
              form.get('area_de_estudo')?.hasError('required')
            "
          >
            Área é obrigatória
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center p-2">
      <div class="d-flex flex-column">
        <label class="cpc-medium-010 pb-2">Já concluiu?</label>
        <mat-radio-group formControlName="conclusao_formacao">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex flex-column">
        <label class="cpc-medium-010 pb-2">Possui certificado?</label>
        <mat-radio-group formControlName="diploma_formacao">
          <mat-radio-button [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="w-100">
      <label class="cpc-medium-010">Data emissão</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="data_emissao"
          type="date"
          placeholder="Mês/Ano"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="
            form.get('data_emissao')?.touched &&
            form.get('data_emissao')?.invalid &&
            form.get('data_emissao')?.hasError('required')
          "
        >
          Data de emissão é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    @if(form.get('diploma_formacao')?.value == true &&
    form.get('conclusao_formacao')?.value == true) {
    <div class="w-100">
      <label class="cpc-medium-010">Data conclusão</label>
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="data_conclusao"
          type="date"
          placeholder="Mês/Ano"
        />
        <mat-error
          class="cpc-light-010"
          *ngIf="
            form.get('data_conclusao')?.touched &&
            form.get('data_conclusao')?.invalid &&
            form.get('data_conclusao')?.hasError('required')
          "
        >
          Data de conclusão é obrigatória
        </mat-error>
      </mat-form-field>
    </div>
    }
    <div class="d-flex justify-content-end mt-4">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
        (click)="update()"
      />
    </div>
  </form>
</mat-dialog-content>
}
