<div class="container_dialog">
  <h1 class="cpc-bold p-4">
    {{ isEditMode ? "Editar Vaga" : "Anuncie sua vaga" }}
  </h1>
  <mat-dialog-content>
    <form [formGroup]="vagaForm" (ngSubmit)="save()">
      <mat-label>Cargo*</mat-label>
      <mat-form-field class="full-width-input">
        <input
          matInput
          formControlName="titulo_vaga"
          placeholder="Qual cargo você deseja anunciar?"
        />
        @if(vagaForm.get('titulo_vaga')?.hasError('required')){
        <mat-error> Cargo é obrigatório </mat-error>
        }
      </mat-form-field>

      <mat-label>Modalidade da vaga*</mat-label>
      <mat-form-field class="full-width-input">
        <mat-select
          formControlName="modalidade_da_vaga"
          placeholder="Selecione a modalidade"
        >
          <mat-option value="Presencial">Presencial</mat-option>
          <mat-option value="Remoto">Remoto</mat-option>
          <mat-option value="Híbrido">Híbrido</mat-option>
        </mat-select>
        @if(vagaForm.get('modalidade_da_vaga')?.hasError('required')){
        <mat-error> Modalidade é obrigatória </mat-error>
        }
      </mat-form-field>

      <mat-label>Salário*</mat-label>
      <mat-form-field class="full-width-input">
        <span matTextPrefix>R$&nbsp;</span>
        <input
          matInput
          formControlName="salario"
          placeholder="1.509,00"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
        />
        @if(vagaForm.get('salario')?.hasError('required')){
        <mat-error> Salário é obrigatório </mat-error>
        }
      </mat-form-field>

      <div class="data-encerramento-label">
        <mat-label>Data de encerramento*</mat-label>
        <img
          class="info-icon"
          height="18"
          src="/assets/icons/circle-info-solid.svg"
          matTooltip="A data de encerramento é calculada automaticamente para 20 dias a partir de hoje e não pode ser alterada."
        />
      </div>
      <mat-form-field class="full-width-input">
        <input
          matInput
          formControlName="data_fechamento"
          placeholder="dd/mm/aaaa"
          [disabled]="true"
        />
      </mat-form-field>

      <mat-label>Habilidades</mat-label>
      <mat-form-field class="full-width-input mat-chip-list-container">
        <mat-chip-grid #chipGridHabilidades>
          @for (habilidade of habilidadesFormArray.value; track
          habilidade.id_habilidades) {
          <mat-chip-row (removed)="removeHabilidade(habilidade)">
            {{ habilidade.nome }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="Nova habilidade..."
          [formControl]="habilidadeInputCtrl"
          [matAutocomplete]="autoHabilidades"
          [matChipInputFor]="chipGridHabilidades"
        />
        <mat-autocomplete
          #autoHabilidades="matAutocomplete"
          (optionSelected)="selectedHabilidade($event)"
        >
          @for (habilidade of filteredHabilidades$ | async; track
          habilidade.id_habilidades) {
          <mat-option [value]="habilidade">{{ habilidade.nome }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>Cursos e Certificações</mat-label>
      <mat-form-field class="full-width-input mat-chip-list-container">
        <mat-chip-grid #chipGridCursos>
          @for (curso of cursosFormArray.value; track curso.id_cursos) {
          <mat-chip-row (removed)="removeCurso(curso)">
            {{ curso.curso }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="Novo curso ou certificação..."
          [formControl]="cursoInputCtrl"
          [matAutocomplete]="autoCursos"
          [matChipInputFor]="chipGridCursos"
        />
        <mat-autocomplete
          #autoCursos="matAutocomplete"
          (optionSelected)="selectedCurso($event)"
        >
          @for (curso of filteredCursos$ | async; track curso.id_cursos) {
          <mat-option [value]="curso">{{ curso.curso }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-label>Área de Atuação</mat-label>
      <!-- Label posicionado acima -->
      <mat-form-field class="full-width-input mat-chip-list-container">
        <mat-select
          formControlName="id_areas_atuacao"
          placeholder="Selecione a área de atuação"
        >
          @for(area of areasAtuacao; track area.id_areas_atuacao){
          <mat-option [value]="area.id_areas_atuacao">
            {{ area.nome_area }}
          </mat-option>
          }
        </mat-select>
        @if (vagaForm.get('estado')?.invalid && (vagaForm.get('estado')?.touched
        || vagaForm.get('estado')?.dirty)) {
        <mat-error>ai é triste</mat-error>
        }
      </mat-form-field>

      <mat-label>Descrição</mat-label>
      <mat-form-field class="full-width-input">
        <textarea
          matInput
          formControlName="descricao"
          placeholder="Descreva a vaga..."
          rows="4"
        ></textarea>
      </mat-form-field>

      <mat-label>Quantidade de vagas*</mat-label>
      <mat-form-field class="full-width-input">
        <input
          matInput
          formControlName="qtd_vaga"
          placeholder="Quantas vagas estão sendo ofertadas?"
          type="number"
        />
        @if(vagaForm.get('qtd_vaga')?.hasError('required')){
        <mat-error> Quantidade de vagas é obrigatória </mat-error>
        }
      </mat-form-field>

      @if(this.data.role === roleEnum.ADMIN){
      <mat-label>Selecione a empresa</mat-label>
      <!-- Label posicionado acima -->
      <mat-form-field class="full-width-input mat-chip-list-container">
        <mat-select
          formControlName="id_empresas"
          placeholder="Selecione a empresa"
        >
          @for(empresa of empresas(); track empresa.id_pessoas){
          <mat-option [value]="empresa.id_pessoas">
            {{ empresa.nome }}
          </mat-option>
          }
        </mat-select>
        @if (vagaForm.get('estado')?.invalid && (vagaForm.get('estado')?.touched
        || vagaForm.get('estado')?.dirty)) {
        <mat-error>ai é triste</mat-error>
        }
      </mat-form-field>
      }

      <footer>
        <div class="d-flex justify-content-center gap-4 p-3">
          @if (isEditMode) {
          <button type="submit" class="btn btn-secondary">Atualizar</button>
          } @else {
          <button type="submit" class="btn btn-secondary">Anunciar</button>
          }
          <button type="button" class="btn btn-primary" (click)="closeModal()">
            Fechar
          </button>
        </div>
      </footer>
    </form>
  </mat-dialog-content>
</div>
