<div class="layout">
  <app-cabecalho />
  <main class="conteudo">
    <section class="container-fluid">
      @if(role() != roleEnum.ADMIN){
      <div class="row">
        <div class="col-12 col-lg-2">
          <div class="container_filtros_filtro m-4" [formGroup]="filtroForm">
            <h1 class="cpc-regular py-2">Filtrar</h1>
            <div class="container_filtros_filtro-itens">
              <h2 class="cpc-regular-010 py-4">Dados da Vaga</h2>
              <div>
                <h3 class="cpc-regular-010">Modelo de trabalho</h3>
                <div class="d-flex flex-column" formGroupName="modalidade">
                  <mat-checkbox formControlName="presencial"
                    >Presencial</mat-checkbox
                  >
                  <mat-checkbox formControlName="hibrido">Híbrido</mat-checkbox>
                  <mat-checkbox formControlName="remoto">Remoto</mat-checkbox>
                </div>
              </div>
              <div class="selects d-flex flex-column my-3">
                @if(role() == roleEnum.CANDIDATO || role() == roleEnum.GUEST){
                <mat-label class="cpc-regular-010">Empresa</mat-label>
                <mat-form-field>
                  <mat-select
                    placeholder="Selecione um item"
                    formControlName="id_empresa"
                  >
                    @for (empresa of empresas(); track empresa.id_pessoas) {
                    <mat-option [value]="empresa.id_pessoas">{{
                      empresa.nome
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                }
                <mat-label class="cpc-regular-010">Área de Atuação</mat-label>
                <mat-form-field>
                  <mat-select
                    placeholder="Selecione um item"
                    formControlName="atuacao"
                  >
                    <mat-option value="">Todas</mat-option>

                    @for (area of areasAtuacao(); track area.id_areas_atuacao) {
                    <mat-option [value]="area.id_areas_atuacao">{{
                      area.nome_area
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-10">
          <div class="row">
            <div class="col-12 col-lg-11">
              @if (role() == roleEnum.CANDIDATO || role() == roleEnum.GUEST) {
              @if (vagasRecomendadas().length > 0) {
              <app-component-container-vagas
                titulo="Vagas Recomendadas para Você"
              >
                <app-card-vaga-publica
                  [vagas]="vagasRecomendadas()"
                  [role]="role()"
                ></app-card-vaga-publica>
              </app-component-container-vagas>
              } @for (grupo of vagasAgrupadasPorArea(); track
              grupo.area.id_areas_atuacao) {
              <app-component-container-vagas [titulo]="grupo.area.nome_area">
                <app-card-vaga-publica
                  [vagas]="grupo.vagas"
                  [role]="role()"
                ></app-card-vaga-publica>
              </app-component-container-vagas>
              } } @if(role() == roleEnum.EMPRESA){ @if(vagasOfertadas().length
              === 0){
              <div
                class="d-flex flex-column align-items-center justify-content-center py-5 px-3 my-4 bg-light rounded-3"
              >
                <i class="fas fa-archive fa-lg pb-3"></i>
                <h3 class="text-dark mb-2">Nenhuma vaga ofertada</h3>
                <p class="text-muted text-center mb-4">
                  Você ainda não publicou nenhuma vaga. Que tal começar agora?
                </p>
              </div>
              }@else {
              <app-component-container-vagas titulo="Vagas Ofertadas">
                <app-card-vaga-empresa
                  [vagas]="vagasOfertadas()"
                  (vagaClicada)="navegarParaDetalhe($event)"
                ></app-card-vaga-empresa>
              </app-component-container-vagas>
              } @if(vagasEncerradas().length === 0){
              <div
                class="d-flex flex-column align-items-center justify-content-center py-5 px-3 my-4 bg-light rounded-3"
              >
                <i class="fas fa-archive fa-lg pb-3"></i>
                <h3 class="text-dark mb-2">Nenhuma vaga encerrada</h3>
                <p class="text-muted text-center">
                  Você ainda não finalizou o processo de nenhuma vaga.
                </p>
              </div>
              }@else {
              <app-component-container-vagas titulo="Vagas Encerradas">
                <app-card-vaga-empresa
                  [vagas]="vagasEncerradas()"
                  (vagaClicada)="navegarParaDetalhe($event)"
                ></app-card-vaga-empresa>
              </app-component-container-vagas>
              } }
            </div>
          </div>
        </div>
      </div>
      } @if(role() == roleEnum.ADMIN){
      <app-home-admin></app-home-admin>
      }
    </section>
  </main>
  <app-footer></app-footer>
</div>
