<div class="layout">
  <app-cabecalho />
  <main class="conteudo">
    <section class="container-fluid">
      @if(role() != roleEnum.ADMIN){
      <div class="row">
        <div class="col-12 col-lg-2 d-none d-sm-none d-lg-block">
          <app-filtro
            [filtroForm]="filtroForm"
            [areasAtuacao]="areasAtuacao"
            [empresas]="empresas"
            [role]="role()"
          />
        </div>

        <div class="col-12 col-lg-10 d-lg-none">
          <div class="d-flex justify-content-between align-items-center">
            @if(role() == roleEnum.CANDIDATO || role() == roleEnum.GUEST){
            <div>
              <h4 class="cpc-bold-010">Vagas</h4>
              <p class="cpc-regular-010">
                {{ todasAsVagas().length }} vaga(s) encontrada(s)
              </p>
            </div>
            }
            <div>
              <button
                class="btn btn-quaternary cpc-bold-010"
                (click)="abrirFiltroModal()"
              >
                <i class="fas fa-filter pe-2"></i> Filtrar
              </button>
            </div>
          </div>
          <hr />
        </div>

        <div class="col-12 col-lg-10">
          <div class="row">
            <div class="col-12 col-lg-11">
              @defer (when statusCarregamento() === 'concluido') { @if (role()
              == roleEnum.CANDIDATO || role() == roleEnum.GUEST) {
              @if(vagasAgrupadasPorArea().length === 0 &&
              vagasRecomendadas().length === 0){
              <app-empy
                icone="face-sad-cry-regular-full.svg"
                titulo="Nenhuma vaga cadastrada no momento"
                mensagem="Volte mais tarde!"
                [botaoHiddem]="false"
              />
              } @if (vagasRecomendadas().length > 0) {
              <app-component-container-vagas
                titulo="Vagas Recomendadas para Você"
              >
                <app-card-vaga-publica
                  [vagas]="vagasRecomendadas()"
                  [role]="role()"
                ></app-card-vaga-publica>
              </app-component-container-vagas>
              } @for (grupo of vagasAgrupadasPorArea(); track
              grupo.area.id_areas_atuacao) {
              <app-component-container-vagas [titulo]="grupo.area.nome_area">
                <app-card-vaga-publica
                  [vagas]="grupo.vagas"
                  [role]="role()"
                ></app-card-vaga-publica>
              </app-component-container-vagas>
              } } @if(role() == roleEnum.EMPRESA){ @if(vagasOfertadas().length
              === 0){
              <div
                class="d-flex flex-column align-items-center justify-content-center py-5 px-3 my-4 bg-light rounded-3"
              >
                <i class="fas fa-archive fa-lg pb-3"></i>
                <h3 class="text-dark mb-2">Nenhuma vaga ofertada</h3>
                <p class="text-muted text-center mb-4">
                  Você ainda não publicou nenhuma vaga. Que tal começar agora?
                </p>
              </div>
              } @else {
              <app-component-container-vagas titulo="Vagas Ofertadas">
                <app-card-vaga-empresa
                  [vagas]="vagasOfertadas()"
                  (vagaClicada)="navegarParaDetalhe($event)"
                ></app-card-vaga-empresa>
              </app-component-container-vagas>
              } @if(vagasEncerradas().length === 0){
              <div
                class="d-flex flex-column align-items-center justify-content-center py-5 px-3 my-4 bg-light rounded-3"
              >
                <i class="fas fa-archive fa-lg pb-3"></i>
                <h3 class="text-dark mb-2">Nenhuma vaga encerrada</h3>
                <p class="text-muted text-center">
                  Você ainda não finalizou o processo de nenhuma vaga.
                </p>
              </div>
              } @else {
              <app-component-container-vagas titulo="Vagas Encerradas">
                <app-card-vaga-empresa
                  [vagas]="vagasEncerradas()"
                  (vagaClicada)="navegarParaDetalhe($event)"
                ></app-card-vaga-empresa>
              </app-component-container-vagas>
              } } }@placeholder (minimum 1s){
              <app-spinner />
              }@loading (minimum 1s) {
              <app-spinner />
              }@error {
              <div class="error-message">
                <p>Erro ao carregar os dados do perfil.</p>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      } @if(role() == roleEnum.ADMIN){
      <app-home-admin></app-home-admin>
      }
    </section>
  </main>
  <app-footer></app-footer>
</div>
