::ng-deep {
  body {
    background-color: var(--background-notWhite);
  }
}
:host {
  app-default-login-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;

    mat-error {
      font-size: 13px;
      display: flex;
      align-items: center;
    }
  }

  p a {
    color: var(--black-010);
  }
}
