::ng-deep {
  body {
    background-color: var(--background-notWhite);
  }
}
:host {
  app-default-login-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;

    mat-error {
      font-size: 13px;
      display: flex;
      align-items: center;
    }

    input {
      box-sizing: border-box;
      font-family: var(--font-poppinsM);

      &:focus {
        border-color: var(--primary-background-gray);
        outline: none;
      }
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-right: 10px;
      border-radius: 50%;
      padding: 10px;
      &:hover {
        background-color: #c7c9d3;
      }
    }

    a {
      text-decoration: none;
      color: var(--text-primary);
      font-weight: 500;
      font-size: 14px;
      align-self: flex-end;
      margin-top: -12px;
      margin-bottom: 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
