::ng-deep .dialog-container-projects .mdc-dialog__container {
    width: 525px;
}

:host{
    header{
        button{
            border: none;
            border-radius: 5px;
        }
        h3{
            font-family: var(--font-poppinsM);
            font-size: 20px;
            margin: 0;
        }
    }
}