:host{
    header{
        button{
            border: none;
            border-radius: 5px;
        }
        h3{
            font-family: var(--font-poppinsM);
            font-size: 20px;
            margin: 0;
        }
    }
}