.container {
  padding: 10px;
  border-radius: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding: 12px 16px;
  text-align: center;
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: 600;
  border-bottom: 2px solid #dee2e6;
}

.table th:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table td {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}

tbody tr.row-active td {
  background-color: #e8f5e9;
  color: #1e4620;
  font-weight: 500;
}

tbody tr.row-active td {
  background-color: #e8f5e9;
  color: #1e4620;
  font-weight: 500;
}

tbody tr:hover {
  background-color: #f8f9fa;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.matPaginator {
  margin-top: 16px;
  width: 100%;
  background: #f8f9fa;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
}
