<app-component-default-perfil
  title="Experiência profissional"
  [dataExperiencia]="experiencias"
  [IdUsuario]="IdUsuario"
>
  @for(experiencia of experiencias; track experiencia){
  <app-card-default-informacoes [data]="experiencia" class="p-0">
  </app-card-default-informacoes>
  }
</app-component-default-perfil>

<app-component-default-perfil
  title="Formação acadêmica"
  [IdUsuario]="IdUsuario"
  [dataFormacao]="formacoes"
>
  @for(formacao of formacoes; track formacao){
  <app-card-default-informacoes [dataFormacoes]="formacao" class="p-0">
  </app-card-default-informacoes>
  }
</app-component-default-perfil>

<app-component-default-perfil
  title="Cursos realizados"
  [IdUsuario]="IdUsuario"
  [dataCursos]="cursos"
>
  @for(curso of cursos; track curso){
  <app-card-default-informacoes
    [idUsuario]="IdUsuario"
    [dataCursos]="curso"
    class="p-0"
  >
  </app-card-default-informacoes>
  }
</app-component-default-perfil>

<app-component-default-perfil
  title="Habilidades e competências adicionais"
  [IdUsuario]="IdUsuario"
  [dataHabilidades]="habilidades"
>
  <mat-chip-set aria-label="Skill selection">
    @for(habilidade of habilidades; track habilidade){
    <mat-chip>{{ habilidade.nome }}</mat-chip>
    }
  </mat-chip-set>
</app-component-default-perfil>
