<app-component-default-perfil
  title="Experiência profissional"
  [data]="experiencias"
>
  <app-card-default-informacoes
    *ngFor="let experiencia of experiencias"
    [data]="experiencia"
  ></app-card-default-informacoes>
</app-component-default-perfil>

<app-component-default-perfil title="Formação acadêmica" [data]="formacoes">
</app-component-default-perfil>

<app-component-default-perfil title="Cursos realizados" [data]="cursos">
</app-component-default-perfil>

<app-component-default-perfil
  title="Habilidades e competências adicionais"
  [data]="habilidades"
>
  <mat-chip-set aria-label="Skill selection">
    <mat-chip *ngFor="let habilidade of habilidades">{{
      habilidade.nome
    }}</mat-chip>
  </mat-chip-set>
</app-component-default-perfil>
