<app-cabecalho></app-cabecalho>

<section>
  <app-table
    [title]="'Cursos'"
    [addLabel]="'Adicionar Curso'"
    [columns]="cursosColumns"
    [dialogComponent]="CursosFormComponent"
    [data]="cursoData"
    [idFn]="getIdCurso"
    [displayFn]="getNomeCurso"
    [statusFn]="getStatusCurso"
    [totalDataLength]="totalCursos"
    [pageSize]="pageSize"
    (itemAdded)="onCursoRecebido($event)"
    (itemEdited)="onCursoAtualizado($event)"
    (itemDeleted)="onCursoDeletado($event)"
    (itemStatusToggled)="onCursoStatusToggled($event)"
    (pageChanged)="updatePaginatedData($event)"
  >
  </app-table>
</section>

<app-footer></app-footer>
<app-button-return-top></app-button-return-top>
