<footer [ngClass]="tela =='perfil' ? 'container_perfil' : 'container_footer'">
  <section class="footer_container">
    <section class="footer_container_logo-ifes">
      <img
        src="assets/imgs/alegre-horizontal-cor.svg"
        alt="logo do Ifes campus de Alegre"
      />
    </section>
    <section class="footer_container_links">
      <div class="footer_container_links_sobre">
        <h2>Sobre nós</h2>
        <p><a href="">Quem somos</a></p>
      </div>
      <div class="footer_container_links_termos">
        <h2>Termos</h2>
        <p><a href="">Termos de uso</a></p>
        <p><a href="">Política de privacidade</a></p>
      </div>
      <div class="footer_container_links_ajuda">
        <h2>Ajuda</h2>
        <p><a href="">Apoiar</a></p>
      </div>
      <div class="footer_container_links_redes">
        <h2>Redes</h2>
        <a href=""
          ><img src="assets/icons/instagram.svg" alt="icone Instagram"
        /></a>
      </div>
      <div class="footer_container_links_faleConosco">
        <h2>Fale conosco</h2>
        <ul>
          <li>
            <a href=""
              ><img
                src="assets/icons/whatsapp.svg"
                alt="icone do WhatsApp"
              />WhatsApp</a
            >
          </li>
          <li>
            <a href=""
              ><img src="assets/icons/email.svg" alt="Icone E-mail" />E-mail</a
            >
          </li>
        </ul>
      </div>
    </section>
  </section>

  <section class="footer_container_copy">
    <p>
      &copy; {{ data() | date : "yyy" }} Caparaó Conecta.Todos os direitos
      reservados.
    </p>
  </section>
</footer>
