<app-cabecalho />

<section
  class="me-0 ms-0 mt-5 row justify-content-center gap-lg-5 gap-md-4 gap-sm-3 gap-3"
>
  <app-dashboard-card
    class="col-lg-2 col-sm-4 col-4"
    label="Vagas"
    [valor]="vagasDaEmpresa().length || 0"
  >
    <i class="fa-solid fa-briefcase fa-2xl"></i>
  </app-dashboard-card>
  <app-dashboard-card
    class="col-lg-2 col-sm-4 col-4"
    label="Candidatos"
    [valor]="totalCandidatos() || 0"
  >
    <i class="fa-solid fa-user-tie fa-2xl"></i>
  </app-dashboard-card>
</section>

<main>
  <div class="bloco-conteudo">
    <ng-container
      *ngIf="
        barChartData?.datasets?.length ||
          doughnutChartData?.datasets?.length ||
          doughnutChartData?.datasets?.length;
        else empyAll
      "
    >
      <div class="tabela-wrapper">
        <h1 class="titulo-tabela cpc-bold">Vagas</h1>
        <app-dashboard-tabela
          [columns]="vagasColumns"
          [statusFn]="getStatusVaga"
          [data]="paginatedVagas()"
          [totalDataLength]="totalVagas()"
          (pageChanged)="updatePaginatedData($event)"
        />
      </div>

      <div class="grafico-grid">
        <div class="grafico-wrapper">
          <p-chart
            type="bar"
            [data]="barChartData"
            [options]="barChartOptions"
            class="h-[30rem]"
          ></p-chart>
        </div>

        <div class="grafico-wrapper">
          <p-chart
            type="doughnut"
            [data]="doughnutChartData"
            [options]="doughnutChartOptions"
            class="w-full md:w-[30rem]"
          ></p-chart>
        </div>
      </div>
    </ng-container>
    <ng-template #empyAll>
      <app-empy
        icone="face-sad-cry-regular-full.svg"
        titulo="Sem dados para exibir"
        mensagem="Aguarde enquanto coletamos os dados necessários."
      />
    </ng-template>
  </div>
</main>

<app-footer></app-footer>
<app-button-return-top></app-button-return-top>
