<app-cabecalho />

<section class="mt-5 d-flex justify-content-center gap-5">
  <app-dashboard-card label="Vagas" [valor]="vagasDaEmpresa().length || 0">
    <i class="fa-solid fa-briefcase fa-2xl"></i>
  </app-dashboard-card>
  <app-dashboard-card label="Candidatos" [valor]="totalCandidatos() || 0">
    <i class="fa-solid fa-user-tie fa-2xl"></i>
  </app-dashboard-card>
</section>

<main>
  <div class="bloco-conteudo">
    <div class="tabela-wrapper">
      <h1 class="titulo-tabela cpc-bold">Vagas</h1>
      <app-dashboard-tabela [vagas]="vagasDaEmpresa()" />
    </div>

    <div class="grafico-grid">
      <div class="grafico-wrapper">
        <app-grafico></app-grafico>
      </div>

      <div class="grafico-wrapper">
        <app-grafico></app-grafico>
      </div>

      <div class="grafico-wrapper">
        <p>Outro tipo de conteúdo</p>
      </div>

      <div class="grafico-wrapper">
        <p>Mais um card de dados</p>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
