<app-default-login-layout
  titulo="Redefinir senha de acesso"
  botaoEntrar="Salvar"
  [disablebotaoCadastrar]="!loginForm.valid"
  (Submit)="submit()"
>
  <form [formGroup]="loginForm">
    <app-password-input
      type="password"
      formControlName="password"
      inputName="password"
      label="Senha"
      placeholder="Digite sua senha"
      (blur)="updateErrorMessage('password')"
    >
      @if (loginForm.get('confirm_password')?.invalid &&
      (loginForm.get('confirm_password')?.dirty ||
      loginForm.get('confirm_password')?.touched)) {
      <mat-error>{{ fieldErrors()["password"] }}</mat-error>
      }
    </app-password-input>
    <app-password-input
      type="password"
      formControlName="confirm_password"
      inputName="password"
      label="Confirmar Senha"
      placeholder="Digite sua senha"
      (blur)="updateErrorMessage('confirm_password')"
    >
      @if (loginForm.get('confirm_password')?.invalid &&
      (loginForm.get('confirm_password')?.dirty ||
      loginForm.get('confirm_password')?.touched)) {
      <mat-error>{{ fieldErrors()["confirm_password"] }}</mat-error>
      }
    </app-password-input>
  </form>
</app-default-login-layout>
