
.cpc{
    &-regular{
        font-family: var(--font-poppinsR);
        font-size: 18px;
    }

    &-regular-010{
        font-family: var(--font-poppinsR);
        font-size: 14px;
    }

    &-bold{
        font-family: var(--font-poppinsB);
        font-size: 24px;
    }

    &-light{
        font-family: var(--font-poppinsL);
        font-size: 16px;
    }

    &-medium{
        font-family: var(--font-poppinsM);
        font-size: 24px;
    }

    &-light-card{
        font-family: var(--font-poppinsL);
        font-size: 16px;
    }

    &-medium-card{
        font-family: var(--font-poppinsM);
        font-size: 18px;
    }
}