<header class="d-flex justify-content-between align-items-center px-4 pt-3">
  <h3 class="cpc-medium">Atualizando a seção sobre</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <form [formGroup]="form" (keyup.enter)="submit()">
    <mat-label class="cpc-regular-010">Fale mais sobre você aqui</mat-label>
    <mat-form-field class="example-full-width w-100">
      <textarea
        class="w-100 cpc-regular-010"
        formControlName="sobre"
        matInput
        placeholder="Ex. Olá, eu sou o Eduardo..."
        rows="10"
      ></textarea>
      <mat-hint class="cpc-light-010" align="end"
        >{{ form.get("sobre")?.value?.length || 0 }}/500</mat-hint
      >
      <mat-error
        class="cpc-light-010"
        *ngIf="form.get('sobre')?.hasError('maxlength')"
        >O texto não pode ter mais que 500 caracteres</mat-error
      >
    </mat-form-field>
    <div class="d-flex justify-content-end pt-4">
      <app-button-primary
        fonte="cpc-regular"
        color="btn-secondary"
        text="Salvar"
        (click)="submit()"
      />
    </div>
  </form>
</mat-dialog-content>
