<div class="container">
  <div class="header">
    <h2 class="cpc-medium">{{ title }}</h2>
    <app-button-primary
      fonte="cpc-regular"
      color="btn-secondary"
      text="{{ addLabel }}"
      (click)="openItemDialog()"
    />
  </div>

  <table class="table">
    <thead>
      <tr class="header-row">
        <th *ngFor="let col of columns" class="cpc-regular-010">
          {{ col.header | capitalize }}
        </th>
        <th class="th-lateral-direita cpc-regular-010">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of data"
        [ngClass]="{ 'row-active': statusFn(item) === 'Ativo' }"
        class="cpc-regular-010"
      >
        <td *ngFor="let col of columns" class="td-centro">
          {{ getCellValue(item, col) }}
        </td>

        <td class="actions td-lateral-direita">
          <button class="icon-btn edit" (click)="openItemDialog(item)">
            <span class="material-icons">edit</span>
          </button>

          <button
            class="icon-btn"
            [ngClass]="statusFn(item) === 'Ativo' ? 'deactivate' : 'activate'"
            (click)="onToggleStatus(item)"
          >
            <span *ngIf="statusFn(item) === 'Ativo'" class="material-icons"
              >toggle_off</span
            >
            <span *ngIf="statusFn(item) !== 'Ativo'" class="material-icons"
              >toggle_on</span
            >
          </button>

          <button class="icon-btn deactivate" (click)="onDeleteItem(item)">
            <span class="material-icons">delete</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    class="matPaginator"
    [length]="totalDataLength"
    [pageSizeOptions]="[5]"
    [pageSize]="pageSize"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
