<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="container-fluid p-3 d-flex justify-content-center " style="background-color: #f1f1f1;">
        <section class=" card-corpo border-radial ">
            <div class="card border-radial card-size">
                <div class="card-body d-flex align-items-center ">
                    <div class="m-3">
                        <img src="../../../../../assets/imgs/logo.jpg" alt="" class="img-confg">
                    </div>
                    <div>
                        <h5 class="card-title">JUJUBA LTDA</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">cidade, estado, pais</h6>
                        <p class="card-text">Setor de atuação: Exemplo: tecnologia, varejo, saúde, etc.</p>
                    </div>
                </div>
            </div>
            <div class="card border-radial card-size">
                <div class="card-body d-flex align-items-center ">
                    <div class="m-3">
                        <img src="../../../../../assets/imgs/logo.jpg" alt="" class="img-confg">
                    </div>
                    <div>
                        <h5 class="card-title">JUJUBA LTDA</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">cidade, estado, pais</h6>
                        <p class="card-text">Setor de atuação: Exemplo: tecnologia, varejo, saúde, etc.</p>
                    </div>
                </div>
            </div>
            <div class="card border-radial card-size">
                <div class="card-body d-flex align-items-center ">
                    <div class="m-3">
                        <img src="../../../../../assets/imgs/logo.jpg" alt="" class="img-confg">
                    </div>
                    <div>
                        <h5 class="card-title">JUJUBA LTDA</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">cidade, estado, pais</h6>
                        <p class="card-text">Setor de atuação: Exemplo: tecnologia, varejo, saúde, etc.</p>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>

</html>