<div class="card-list-container">
  <!-- Grid responsivo para os cards -->
  <div class="cards-grid">
    @for (pessoa of pessoas; track pessoa.id_pessoas) {
    <div class="profile-card">
      <div class="card-background"></div>
      <div class="card-content">
        <img
          [src]="
            pessoa.imagem
              ? 'http://localhost:8000/img/pessoas/' + pessoa.imagem
              : 'assets/imgs/perfil.svg'
          "
          alt="Foto do perfil"
          class="profile-avatar"
        />
        <h5 class="profile-name cpc-medium">{{ pessoa.nome }}</h5>
        <p class="profile-area" *ngIf="pessoa.pessoas_fisica?.area_atuacao">
          {{ pessoa.pessoas_fisica?.area_atuacao?.nome_area }}
        </p>
        <p class="profile-location cpc-regular" *ngIf="pessoa.endereco">
          <i class="fa-solid fa-location-dot"></i>
          {{ pessoa.endereco.cidade.nome_cidade }} -
          {{ pessoa.endereco.estado }}
        </p>
      </div>
    </div>
    }
  </div>

  @if (pessoas && pessoas.length > 0) {
  <div class="paginator-container">
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="pessoas.length"
      (onPageChange)="onPageChange($event)"
      styleClass="responsive-paginator"
    ></p-paginator>
  </div>
  } @else {
  <div class="no-results-message">
    <p>Nenhum perfil encontrado.</p>
  </div>
  }
</div>
