.border-radial{
    border-radius: 15px;
};

.card-size{
    width: 50em;
    padding: 1em;
    margin: 1.5em;
}

.card-corpo{
    
    background-color: #e8e8e7;
}

.img-confg{
    
    width: 8em;
    border-radius: 100em;
}