<div class="cards-grid">
  @for (pessoa of pessoas; track pessoa.id_pessoas) {
  <div class="profile-card" [routerLink]="['/perfil', pessoa.id_pessoas]">
    <div class="card-background"></div>
    <div class="card-content">
      <img
        [src]="
          pessoa.imagem
            ? 'http://localhost:8000/img/pessoas/' + pessoa.imagem
            : 'assets/imgs/perfil.svg'
        "
        alt="Foto do perfil"
        class="profile-avatar"
      />
      <h5 class="profile-name cpc-medium">{{ pessoa.nome }}</h5>
      <p
        class="profile-area cpc-regular"
        *ngIf="pessoa.pessoas_fisica?.area_atuacao"
      >
        {{ pessoa.pessoas_fisica?.area_atuacao?.nome_area }}
      </p>
      <p class="profile-location cpc-regular" *ngIf="pessoa.endereco">
        <i class="fa-solid fa-location-dot"></i>
        {{ pessoa.endereco.cidade.nome_cidade }} -
        {{ pessoa.endereco.estado }}
      </p>
    </div>
  </div>
  }
</div>

@if (!pessoas || pessoas.length === 0) {
<div class="no-results-message cpc-regular">
  <p>Nenhum perfil encontrado para sua busca.</p>
</div>
}
