.card{
    transform: scale(1);
    transition: 0.5s;
    &:hover{
        transform: scale(1.05);
        transition: 0.5s;
       
        
    }
}

.border-radial{
    border-radius: 15px;
};

.card-size{
    width: 35em;
    margin: 1.5em;
}

@media(max-width: 900px){

    .card-size{
        width: 20em;
        margin: 1.5em;
    }

}

.card-corpo{
    
    background-color: #e8e8e7;
}

.img-confg{
    
    width: 8em;
    border-radius: 50%;
}