
<div [ngClass]="role == roleEnum.GUEST ? 'vaga-opacity' : 'vaga-unopacity'" class="container vaga-opacity cpc-background-white d-flex align-items-center p-2 gap-4" (click)="openModel()">
    <div class="container_img py-2">
        <img [src]="imagemSemFundo.imagemSrc" alt="Logo da empresa">
    </div>
    <div class="container_informacoes d-flex flex-column py-2">
        <h1 class="cpc-medium-card">Titulo</h1>
        <p class="cpc-light-card">Nome da empresa</p>
        <p class="cpc-light-card">Vagas:</p>
    </div>
</div>
