
<div [ngClass]="role == roleEnum.GUEST ? 'vaga-opacity' : 'vaga-unopacity'" class="container vaga-opacity cpc-background-white d-flex align-items-center p-2 gap-4" (click)="openModel()">
    <div class="container_img py-2">
        <img [src]="imagem" alt="Logo da empresa">
    </div>
    <div class="container_informacoes d-flex flex-column py-2">
        <h1 class="cpc-medium-card">{{titulo}}</h1>
        <p class="cpc-light-card">{{empresa}}</p>
        <p class="cpc-light-card">Vagas: {{qtd_vagas}}</p>
    </div>
</div>
