<p-carousel
  [value]="vagas"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="true"
  [autoplayInterval]="5000"
  [responsiveOptions]="[
    {
      breakpoint: '900px',
      numVisible: 1,
      numScroll: 1
    }
  ]"
>
  <ng-template let-vaga #item>
    <div class="vaga-card" (click)="handleCardClick(vaga)">
      <div class="vaga-card-header">
        <img
          [src]="
            vaga.empresa?.pessoa?.imagem != null
              ? 'http://localhost:8000/img/pessoas/' +
                vaga.empresa?.pessoa?.imagem
              : imagem
          "
          alt="Logo da empresa"
          class="empresa-logo"
        />
        <span class="empresa-nome cpc-regular">{{
          vaga.empresa?.pessoa?.nome
        }}</span>
      </div>

      <hr class="card-divider" />

      <div class="vaga-card-body">
        <h3 class="vaga-titulo cpc-regular">{{ vaga.titulo_vaga }}</h3>
        <p class="vaga-descricao cpc-regular">{{ vaga.descricao }}</p>
        <div class="d-flex">
          <span class="cpc-regular-010 pe-3"
            ><i class="fa-solid fa-user-tie fa-lg pe-1"></i>
            {{ vaga.modalidade_da_vaga | capitalize }}</span
          >
          <span class="cpc-regular-010"
            ><i class="fa-solid fa-money-bill fa-lg pe-1"></i
            >{{
              vaga.salario | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR"
            }}</span
          >
        </div>
        <span class="vaga-quantidade cpc-regular"
          >Vagas: {{ vaga.qtd_vaga }}</span
        >
      </div>
    </div>
  </ng-template>
</p-carousel>
