<app-default-login-layout
  titulo="Cadastrar no Caparaó Conecta"
  botaoEntrar="Cadastrar"
  botaoCadastrar="Login"
  (Submit)="submit()"
  (Navigate)="navigate()"
  [disablebotaoCadastrar]="!cadastrarForm.valid"
>
  <form [formGroup]="cadastrarForm" class="row">
    <app-primary-input
      formControlName="nome"
      type="text"
      placeholder="Digite seu nome"
      label="Nome"
      inputName="nome"
      class="col-12"
    >
      @if (cadastrarForm.get('nome')?.invalid &&
      (cadastrarForm.get('nome')?.touched || cadastrarForm.get('nome')?.dirty ))
      {
      <mat-error>{{ fieldErrors()["nome"] }}</mat-error>
      }
    </app-primary-input>
    <app-primary-input
      formControlName="sobrenome"
      type="text"
      placeholder="Digite seu nome"
      label="Sobrenome"
      inputName="sobrenome"
      class="col-12"
    >
      @if (cadastrarForm.get('sobrenome')?.invalid &&
      (cadastrarForm.get('sobrenome')?.touched ||
      cadastrarForm.get('sobrenome')?.dirty )) {
      <mat-error>{{ fieldErrors()["sobrenome"] }}</mat-error>
      }
    </app-primary-input>
    <div class="d-flex flex-column flex-md-row">
      <app-data-nascimento-input
        formControlName="data_de_nascimento"
        type="date"
        placeholder="dd/mm/yyyy"
        label="Data de nascimento"
        inputName="data_de_nascimento"
        class="col-12 ps-0 col-md-6 ps-md-0"
        >@if (cadastrarForm.get('data_de_nascimento')?.invalid &&
        (cadastrarForm.get('data_de_nascimento')?.touched ||
        cadastrarForm.get('data_de_nascimento')?.dirty )) {
        <mat-error>{{ fieldErrors()["data_de_nascimento"] }}</mat-error>
        }</app-data-nascimento-input
      >
      <app-genero-input
        formControlName="genero"
        label="Gênero"
        placeholder="Selecione seu gênero"
        class="col-12 ps-0 col-md-6 ps-md-3"
        >@if (cadastrarForm.get('genero')?.invalid &&
        (cadastrarForm.get('genero')?.touched ||
        cadastrarForm.get('genero')?.dirty )) {
        <mat-error>{{ fieldErrors()["genero"] }}</mat-error>
        }</app-genero-input
      >
    </div>
    <div class="formCol d-flex flex-column flex-md-row">
      <app-cpf-and-cnpj-input
        formControlName="cpf"
        type="text"
        placeholder="Digite seu CPF"
        label="CPF"
        inputName="CPF"
        class="col-12 ps-0 col-md-6 ps-md-0"
      >
        @if (cadastrarForm.get('cpf')?.invalid
        &&(cadastrarForm.get('cpf')?.touched ||
        cadastrarForm.get('cpf')?.dirty)) {
        <mat-error>{{ fieldErrors()["cpf"] }}</mat-error>
        }
      </app-cpf-and-cnpj-input>

      <app-telefone-input
        formControlName="telefone"
        type="tel"
        placeholder="Digite seu número"
        label="Telefone(DDD)"
        inputName="telefone"
        class="col-12 ps-0 col-md-6 ps-md-3"
        >@if (cadastrarForm.get('telefone')?.invalid &&
        (cadastrarForm.get('telefone')?.touched ||
        cadastrarForm.get('telefone')?.dirty )) {
        <mat-error>{{ fieldErrors()["telefone"] }}</mat-error>
        }</app-telefone-input
      >
    </div>
    <div class="d-flex gap-3 align-items-start flex-column flex-md-row">
      <!-- Campo de Estado -->
      <div class="flex-grow-1 input-container w-100 w-md-0">
        <mat-label class="d-block">Estado</mat-label>
        <!-- Label posicionado acima -->
        <mat-form-field class="w-100">
          <mat-select
            formControlName="estado"
            placeholder="Selecione seu estado"
            (selectionChange)="carregarCidadesPorEstado($event.value.id)"
          >
            @for(estado of estados; track estado.id){
            <mat-option [value]="estado">
              {{ estado.nome }}
            </mat-option>
            }
          </mat-select>
          @if (cadastrarForm.get('estado')?.invalid &&
          (cadastrarForm.get('estado')?.touched ||
          cadastrarForm.get('estado')?.dirty)) {
          <mat-error>{{ fieldErrors()["estado"] }}</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Campo de Cidade -->
      <div class="flex-grow-1 input-container w-100 w-md-0">
        <mat-label class="d-block">Cidade</mat-label>
        <!-- Label posicionado acima -->
        <mat-form-field class="w-100">
          <mat-select
            formControlName="cidade"
            placeholder="Selecione sua cidade"
            [disabled]="!cadastrarForm.get('estado')?.value"
          >
            @for(cidade of cidades; track cidade.id){
            <mat-option [value]="cidade.nome">
              {{ cidade.nome }}
            </mat-option>
            }
          </mat-select>
          @if (cadastrarForm.get('cidade')?.invalid &&
          (cadastrarForm.get('cidade')?.touched ||
          cadastrarForm.get('cidade')?.dirty)) {
          <mat-error>{{ fieldErrors()["cidade"] }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <app-primary-input
      formControlName="email"
      type="email"
      inputName="email"
      label="Email"
      placeholder="Digite seu email"
      class="col-12"
    >
      @if (cadastrarForm.get('email')?.invalid &&
      (cadastrarForm.get('email')?.touched || cadastrarForm.get('email')?.dirty
      )) {
      <mat-error>{{ fieldErrors()["email"] }}</mat-error>
      }
    </app-primary-input>
    <app-cad-unico-radio
      formControlName="cadUnico"
      type="text"
      placeholder="Digite seu CAD Único"
      label="Possui CAD único?"
      inputName="cadUnico"
    >
      @if (cadastrarForm.get('cadUnico')?.hasError('required')){
      <mat-error>{{ fieldErrors()["cadUnico"] }}</mat-error>
      }
    </app-cad-unico-radio>
    <app-primary-input
      type="password"
      formControlName="password"
      inputName="password"
      label="Senha"
      placeholder="Digite sua senha"
      class="col-12"
      >@if (cadastrarForm.get('password')?.invalid &&
      (cadastrarForm.get('password')?.touched ||
      cadastrarForm.get('password')?.dirty )) {
      <mat-error>{{ fieldErrors()["password"] }}</mat-error>
      } @if(cadastrarForm.get('password')?.hasError('uppercase')){
      <mat-error>
        {{ patternMessages["uppercase"] }}
      </mat-error>
      } @if(cadastrarForm.get('password')?.hasError('lowercase')){
      <mat-error>
        {{ patternMessages["lowercase"] }}
      </mat-error>
      } @if(cadastrarForm.get('password')?.hasError('specialChar')){
      <mat-error>
        {{ patternMessages["specialChar"] }}
      </mat-error>
      }
    </app-primary-input>
    <app-primary-input
      type="password"
      formControlName="confirmPassword"
      inputName="confirmPassword"
      label="Confirme sua senha"
      placeholder="Confirme sua senha"
      class="col-12"
    >
      @if (cadastrarForm.get('confirmPassword')?.invalid &&
      (cadastrarForm.get('confirmPassword')?.touched ||
      cadastrarForm.get('confirmPassword')?.dirty )){
      <mat-error>{{ fieldErrors()["confirmPassword"] }}</mat-error>
      } @if (cadastrarForm.errors?.['Invalida']) {
      <mat-error> As senhas não coincidem.</mat-error>
      }
    </app-primary-input>
  </form>
</app-default-login-layout>
