::ng-deep {
  body {
    background-color: var(--background-notWhite);
  }
}

app-default-login-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  flex-direction: column;

  mat-error {
    font-size: 13px;
    display: flex;
    align-items: center;
  }
}

mat-select,
mat-option {
  box-sizing: border-box;
  font-family: var(--font-poppinsM);

  &:focus {
    border-color: var(--primary-background-gray);
    outline: none;
  }
}
