<header class="d-flex justify-content-between p-4 align-items-center">
  <h3>{{ titulo }}</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <div class="curso-list">
    <form [formGroup]="formCurso">
      <div class="col flex-grow-1 input-container">
        <mat-label class="cpc-medium-010">Instituição de ensino</mat-label>
        <mat-form-field class="example-full-width w-100">
          <input
            type="text"
            matInput
            formControlName="id_instituicoes"
            placeholder="Preencha sua Instituição"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFnInstituicao"
          >
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{ option.nome }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <app-primary-input
        formControlName="curso"
        type="text"
        placeholder="Digite um novo curso"
        label="Curso"
        inputName="curso"
      >
        @if (formCurso.get('curso')?.invalid && (formCurso.get('curso')?.touched
        || formCurso.get('curso')?.dirty )) {
        <mat-error>Este campo não pode estar vazio</mat-error>
        }
      </app-primary-input>

      <app-primary-input
        formControlName="cargo_horaria"
        type="text"
        placeholder="Ex: 40 horas"
        label="Cargo Horária"
        inputName="link"
      >
        @if (formCurso.get('link')?.invalid && (formCurso.get('link')?.touched
        || formCurso.get('link')?.dirty )) {
        <mat-error>Este campo não pode estar vazio</mat-error>
        }
      </app-primary-input>

      <div>
        <mat-label class="cpc-medium-010">Tipo do curso</mat-label>
        <mat-form-field class="w-100">
          <mat-select
            formControlName="id_tipo_de_cursos"
            placeholder="Presencial, Online, Híbrido"
          >
            <mat-option [value]="1">Presencial</mat-option>
            <mat-option [value]="2">Online</mat-option>
            <mat-option [value]="3">Híbrido</mat-option>
          </mat-select>

          @if (formCurso.get('id_tipo_de_cursos')?.invalid &&
          (formCurso.get('id_tipo_de_cursos')?.touched ||
          formCurso.get('id_tipo_de_cursos')?.dirty )) {
          <mat-error>Por favor, selecione uma opção</mat-error>
          }
        </mat-form-field>
      </div>

      <app-primary-input
        formControlName="link"
        type="text"
        placeholder="Digite uma nova link"
        label="Link do curso"
        inputName="link"
      >
        @if (formCurso.get('link')?.invalid && (formCurso.get('link')?.touched
        || formCurso.get('link')?.dirty )) {
        <mat-error>Este campo não pode estar vazio</mat-error>
        }
      </app-primary-input>
    </form>
  </div>
  <div class="d-flex justify-content-end">
    <app-button-primary
      fonte="cpc-regular"
      color="btn-secondary"
      text="Salvar"
      (click)="submit()"
    />
  </div>
</mat-dialog-content>
