<header class="d-flex justify-content-between p-4 align-items-center">
  <h3 class="cpc-medium">{{ titulo }}</h3>
  <button class="btn" (click)="closeModal()">
    <img src="assets/icons/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>

<mat-dialog-content>
  <div class="curso-list">
    <form [formGroup]="formCurso">
      <!-- Instituição de Ensino -->
      <div class="col flex-grow-1 input-container">
        <label class="cpc-medium-010">Instituição de ensino</label>
        <mat-form-field class="example-full-width w-100">
          <input
            type="text"
            matInput
            formControlName="id_instituicoes"
            placeholder="Preencha sua Instituição"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFnInstituicao"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.nome }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="
              formCurso.get('id_instituicoes')?.invalid &&
              (formCurso.get('id_instituicoes')?.touched ||
                formCurso.get('id_instituicoes')?.dirty)
            "
          >
            Por favor, selecione uma instituição válida
          </mat-error>
          <mat-error
            *ngIf="formCurso.get('id_instituicoes')?.hasError('required')"
          >
            Este campo é obrigatório
          </mat-error>
          <mat-error
            *ngIf="
              formCurso
                .get('id_instituicoes')
                ?.hasError('matAutocompleteInvalid')
            "
          >
            Instituição inválida
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Curso -->
      <div class="col flex-grow-1 input-container">
        <label class="cpc-medium-010">Curso</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="curso"
            type="text"
            placeholder="Digite um novo curso"
          />
          <mat-error
            *ngIf="
              formCurso.get('curso')?.invalid &&
              (formCurso.get('curso')?.touched || formCurso.get('curso')?.dirty)
            "
          >
            Este campo não pode estar vazio
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Carga Horária -->
      <div class="col flex-grow-1 input-container">
        <label class="cpc-medium-010">Carga Horária</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="cargo_horaria"
            type="text"
            placeholder="Ex: 40 horas"
          />
          <mat-error
            *ngIf="
              formCurso.get('cargo_horaria')?.invalid &&
              (formCurso.get('cargo_horaria')?.touched ||
                formCurso.get('cargo_horaria')?.dirty)
            "
          >
            Este campo não pode estar vazio
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Tipo do Curso -->
      <div>
        <label class="cpc-medium-010">Tipo do curso</label>
        <mat-form-field class="w-100">
          <mat-select
            formControlName="id_tipo_de_cursos"
            placeholder="Presencial, Online, Híbrido"
          >
            <mat-option [value]="1">Presencial</mat-option>
            <mat-option [value]="2">Online</mat-option>
            <mat-option [value]="3">Híbrido</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              formCurso.get('id_tipo_de_cursos')?.invalid &&
              (formCurso.get('id_tipo_de_cursos')?.touched ||
                formCurso.get('id_tipo_de_cursos')?.dirty)
            "
          >
            Por favor, selecione uma opção
          </mat-error>
          <mat-error
            *ngIf="formCurso.get('id_tipo_de_cursos')?.hasError('required')"
          >
            Este campo é obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Link do Curso -->
      <div class="col flex-grow-1 input-container">
        <label class="cpc-medium-010">Link do curso</label>
        <mat-form-field class="w-100">
          <input
            matInput
            formControlName="link"
            type="text"
            placeholder="Digite o link do curso"
          />
          <mat-error
            *ngIf="
              formCurso.get('link')?.invalid &&
              (formCurso.get('link')?.touched || formCurso.get('link')?.dirty)
            "
          >
            Este campo não pode estar vazio
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <!-- Botão Salvar -->
  <div class="d-flex justify-content-end">
    <app-button-primary
      fonte="cpc-regular"
      color="btn-secondary"
      text="Salvar"
      (click)="submit()"
    ></app-button-primary>
  </div>
</mat-dialog-content>
