<app-cabecalho></app-cabecalho>

<div class="search-page-container">
  <div class="search-header">
    <h1 class="search-title cpc-medium">Encontre Perfis</h1>
    <p
      class="search-subtitle cpc-regular"
      *ngIf="role() === roleEnum.CANDIDATO"
    >
      Busque por empresas.
    </p>
    <p class="search-subtitle cpc-regular" *ngIf="role() === roleEnum.EMPRESA">
      Busque por candidatos.
    </p>
    <div class="search-bar-wrapper">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input
        class="form-control cpc-regular-010"
        type="search"
        placeholder="Pesquisar por nome..."
        aria-label="Search"
        name="search"
        [(ngModel)]="searchTerm"
      />
    </div>
  </div>

  <main class="search-results">
    <app-card-perfil
      [pessoas]="pessoasFiltradas()"
      *ngIf="pessoasFiltradas()!.length > 0"
    ></app-card-perfil>
    <p class="cpc-regular" *ngIf="pessoasFiltradas()!.length === 0">
      Nenhum resultado encontrado.
    </p>
  </main>
</div>

<app-footer></app-footer>
