:host {
  .input-container {
    font-family: var(--font-poppinsM);
    font-size: 16px;

    label {
      color: var(--black-010);
      padding: 0.3em;
    }

    input {
      margin-top: 0.5em;
      box-sizing: border-box;
      width: 100%;
      border: 2px solid var(--secondary-background-gray);
      font-family: var(--font-poppinsM);
      border-radius: 8px;
      padding: 12px 16px;

      &:focus {
        border-color: var(--primary-background-gray);
        outline: none;
      }
    }
  }
}
