<!-- O container principal do dialog, com padding -->
<div class="vaga-dialog-container" (keyup.enter)="closeModal()">
  <!-- CABEÇALHO: Título da vaga, logo da empresa e ação de favoritar -->
  <header class="dialog-header">
    <div class="header-main-info">
      <img
        [src]="
          data.vaga.empresa?.pessoa?.imagem
            ? url() + '/img/pessoas/' + data.vaga.empresa?.pessoa?.imagem
            : imagem
        "
        alt="Logo da empresa"
        class="empresa-logo"
      />
      <div class="header-text">
        <h1 class="vaga-titulo cpc-regular">{{ data.vaga.titulo_vaga }}</h1>
        <p class="empresa-nome cpc-regular">
          {{ data.vaga.empresa?.pessoa?.nome }}
        </p>
      </div>
    </div>
    <div class="header-actions" (click)="favoritarVaga()">
      <mat-icon>{{ favoritar ? "star" : "star_border" }}</mat-icon>
      <span class="cpc-regular-010 d-none d-md-block">{{
        favoritar ? "Favoritada" : "Favoritar"
      }}</span>
    </div>
  </header>

  <!-- BARRA DE DETALHES RÁPIDOS -->
  <section class="details-bar">
    <div class="detail-item">
      <mat-icon>paid</mat-icon>
      <span class="cpc-regular-010">{{
        data.vaga.salario | currency : "BRL"
      }}</span>
    </div>
    <div class="detail-item">
      <mat-icon>work</mat-icon>
      <span class="cpc-regular-010">{{
        data.vaga.modalidade_da_vaga | capitalize
      }}</span>
    </div>
    <div class="detail-item">
      <mat-icon>location_on</mat-icon>
      <span>{{
        data.vaga.empresa?.pessoa?.endereco?.cidade?.nome_cidade
      }}</span>
    </div>
  </section>

  <!-- CORPO PRINCIPAL DO DIALOG -->
  <mat-dialog-content class="dialog-content">
    <section class="content-section">
      <h2 class="section-title cpc-regular">Descrição da Vaga</h2>
      <p class="vaga-descricao cpc-regular-010">{{ data.vaga.descricao }}</p>
    </section>

    <section class="content-section">
      <h2 class="section-title cpc-regular">Habilidades Necessárias</h2>
      <mat-chip-listbox aria-label="Habilidades da vaga">
        @for (habilidade of data.vaga.habilidades; track
        habilidade.id_habilidades) {
        <mat-chip>{{ habilidade.nome }}</mat-chip>
        }
      </mat-chip-listbox>
    </section>

    <section class="content-section">
      <div class="d-flex align-items-center align-center gap-1">
        <h2 class="section-title cpc-regular">Cursos Recomendados</h2>
        <img
          class="info-icon cursor-pointer"
          height="18"
          src="/assets/icons/circle-info-solid.svg"
          matTooltip="Cursos que podem te ajudar a se destacar para essa vaga.
          Clique no curso para se qualificar caso nunca tenha feito."
          matTooltipPosition="above"
          matTooltipClass="custom-tooltip"
          alt="Ícone de informação"
        />
      </div>

      <mat-chip-listbox aria-label="Cursos recomendados">
        @for (curso of data.vaga.curso; track curso.id_cursos) {
        <mat-chip
          ><a [href]="curso.link">{{ curso.curso }}</a></mat-chip
        >
        }
      </mat-chip-listbox>
    </section>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button class="btn btn-primary" (click)="closeModal()">Fechar</button>
    <button class="btn btn-secondary" (click)="candidatarUser()">
      Candidatar-se
    </button>
  </mat-dialog-actions>
</div>
