<h3 class="cpc-medium">Candidatos Contratados</h3>

<div class="card-container cpc-medium-010">
  <div class="card">
    
    <div class="info">
      <p>Nome:</p>
      <p class="nome">{{candidato.nome}}</p>
    </div>

    <div class="contatos">
      <p class="contatos-label">Contatos:</p>
      <div class="icones">
        <img src="assets/icons/iconeWhatsapp.svg" alt="Whatsapp">
        <img src="assets/icons/iconeInstagram.svg" alt="Instagram">
        <img src="assets/icons/iconeGithub.svg" alt="Github">
        <img src="assets/icons/iconeLinkedin.svg" alt="Linkedin">
        <img src="assets/icons/iconeEmail.svg" alt="Email">
        <img src="assets/icons/icons_perfil/telefone.svg" alt="Telefone">
      </div>
    </div>

  </div>
</div>
