<div class="input-container">
    <mat-label>{{ label }}</mat-label>
  
    <div class="input-content d-flex justify-content-between align-items-center">
      <mat-radio-group (change)="updateMostrarInput($event.value)">
        <mat-radio-button [value]="true">Sim</mat-radio-button>
        <mat-radio-button [value]="false">Não</mat-radio-button>
      </mat-radio-group>
  
     @if(mostrarInput){
        <div class="d-flex flex-column">
            <mat-form-field>
                <input 
                [type]="type"
                [placeholder]="placeholder"
                [value]="value" 
                matInput 
                (input)="updateValue($event)"
                required
                >
            </mat-form-field>
            <div class="erros">
              <ng-content></ng-content>
            </div>
        </div>
     }
    </div>
  </div>
  